@{
    ViewBag._Title ??= SL["Delete " + ViewData.ModelMetadata.UnderlyingOrModelType.Name.Titleize()];
}
<div class="m">

    <h1>@ViewBag._Title</h1>

    <details open class="w-sm">

        <summary>@SL["Properties"]</summary>

        <p>
            Delete a filing schedule.
            Any payable and unfiled returns that no longer have a corresponding filing schedule will be deleted.
        </p>

        <form method="post">

            <partial name="UI/ValidationSummary" />

            <div class="card paint-warning">
                @SL["Deleting cannot be undone."]
            </div>

            <p>
                @SL["Delete {0}?", Model]
            </p>

            <div class="input-group">
                <button class="button">@SL["Yes"]</button>
                <a class="button" href="@Url.ReturnUrlOrAction("Index")">@SL["No"]</a>
            </div>

        </form>

    </details>

</div>