@model IEnumerable<Cohub.Data.Lic.License>

<table class="card">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Title)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.IssuedDate)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Organization)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Type)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Description)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Created)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        <a href="@Url.Action("Details", new { id = item.Id })">@item</a>
    </td>
    <td>
        @Html.DisplayFor(_ => item.IssuedDate)
    </td>
    <td>
        @Html.DisplayFor(_ => item.ExpirationDate)
    </td>
    <td class="text-left">
        @Html.DisplayFor(_ => item.Organization)
    </td>
    <td>
        @Html.DisplayFor(_ => item.Type)
    </td>
    <td>
        @Html.DisplayFor(_ => item.Description)
    </td>
    <td>
        @Html.DisplayFor(_ => item.Created)
    </td>
</tr>}
    </tbody>
    <tbody>
        <tr>
            <td class="text-center" colspan="7">
                <partial name="UI/Paging" />
            </td>
        </tr>
    </tbody>
</table>
