@model Cohub.Data.Fin.Return
@inject IStringLocalizer<Cohub.Data.Fin.Return> L
@{
    ViewBag._Title = L["Delete Return"];
}
<div class="pad">
    <h1>@ViewBag._Title</h1>

    <div class="card">
        <form method="post">
            <partial name="UI/ValidationSummary" />

            <p>
                @SL["Delete {0}?", Model]
            </p>

            <div class="input-group">
                <button class="button">@SL["Yes"]</button>
                <a class="button" href="@Url.Action("Details", new { id = Model.Id })">@SL["No"]</a>
            </div>
        </form>
    </div>
</div>
