@model Batch

<dl>
    <div>
        <dt>
            @Html.DisplayNameFor(m => m.Id)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Id)
        </dd>
    </div>
    <div>
        <dt>
            @Html.DisplayNameFor(m => m.Name)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Name)
        </dd>
    </div>
    <div>
        <dt>
            @Html.DisplayNameFor(m => m.DepositControlAmount)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.DepositControlAmount)
        </dd>
    </div>
    <div>
        <dt>
            @Html.DisplayNameFor(m => m.Note)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Note)
        </dd>
    </div>
</dl>