@model int
@{ ViewBag._Title ??= SL["Delete Drafts"]; }
<div class="m">

    <h1>@ViewBag._Title</h1>

    <details open class="w-sm">

        <summary>@SL["Options"]</summary>

        <p>
            Delete all drafts including draft assessments.
        </p>

        <form method="post">

            <partial name="UI/ValidationSummary" />

            <p>
                @SL["Delete {0} Drafts?", Model]
            </p>

            <div class="input-group">
                <button class="button">@SL["Yes"]</button>
                <a class="button" href="@Url.ReturnUrlOrAction("Index")">@SL["No"]</a>
            </div>

        </form>

    </details>

</div>