@{ ViewBag._Title ??= SL["New " + ViewData.ModelMetadata.UnderlyingOrModelType.Name.Titleize()]; }
<div class="m">

    <h1>@ViewBag._Title</h1>

    <details open class="w-sm">

        <summary>@SL["Properties"]</summary>

        <form method="post">

            <partial name="UI/ValidationSummary" />

            @Html.EditorForModel("Complex")

            <div class="input-group">
                <button class="button">@SL["Create"]</button>
                <a class="button" href="@Url.ReturnUrlOrAction("Index")">@SL["Cancel"]</a>
            </div>

        </form>

    </details>

</div>