@* Called by SiteNav *@
<div class="dropdown">
    <button class="dropdown-button" type="button" id="main-menu-payment-charts-dropdown">
        Payment Charts
    </button>
    <div class="dropdown-content" aria-labelledby="main-menu-payment-charts-dropdown">
        <div class="card flex-right gap-0">
            <div class="menu">
                <a href="@Url.Action("Index")">List Payment Charts</a>
                <a href="@Url.Action("Create")">New Payment Chart</a>
            </div>
        </div>
    </div>
</div>
@if (ViewContext.RouteData.Values.TryGetValue("id", out var id))
{
<div class="dropdown">
    <button class="dropdown-button" type="button" id="main-menu-payment-chart-dropdown">
        Payment Chart
    </button>
    <div class="dropdown-content" aria-labelledby="main-menu-payment-chart-dropdown">
        <div class="card flex-right gap-0">
            <div class="menu">
                <a href="@Url.Action("Details", new { id })">View Payment Chart</a>
                <a href="@Url.Action("Edit", new { id })">Edit Payment Chart</a>
                <a href="@Url.Action("Delete", new { id })">Delete Payment Chart</a>
                <hr />
                <a href="@Url.Action("Create", "PaymentConfigurations", new { paymentChartId = id })">Add Payment Configuration</a>
            </div>
        </div>
    </div>
</div>}